<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <header class="navbar navbar-expand-md bg-body-tertiary fixed-top nav-bar-light">
        <div class="container-lg">
            <div class="nav">
                <a class="navbar-brand font-25" href="/" >
                    <img src="/static/logo/logo-BE81F7.svg" width="30" height="30" alt="">
                    <b class="cursor-pointer" th:text="${profile.username}" th:username="${profile.username}" th:onclick="|location.href='/@'+this.getAttribute('username')|"></b>
                </a>
            </div>
            <div class="nav justify-content-end">
<!--                <div class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                    <a class="nav-link" href="#" style="color: #252525">-->
<!--                        <span class="icon material-symbols-outlined">edit</span>-->
<!--                    </a>-->
<!--                </div>-->
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" style="color: #252525">
                        <span class="icon material-symbols-outlined">notifications</span>
                    </a>
                </div>
                <div class="nav-item ms-md-auto">
                    <button sec:authorize="isAnonymous()" id="login-modal-btn" type="button" class="btn"
                            data-bs-toggle="modal" data-bs-target="#loginModal">
                        <a class="nav-link">
                            <span class="icon material-symbols-outlined" style="color: #252525">login</span>
                            <span class="font-18">로그인</span>
                        </a>
                    </button>
                    <div sec:authorize="isAuthenticated()" class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <img class="img-profile rounded-circle header-thumb"
                                 th:src="${thumbIsNull} ? '/static/icons/person.svg' : ${members.getThumb()}"
                                 alt="profile">
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="logout()">로그아웃</a></li>
                            <li><a class="dropdown-item" th:href="'/@' + ${members.getUsername()}">내 프로필</a></li>
                            <li><a class="dropdown-item" href="/settings">설정</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/static/logo/logo-BE81F7.svg" width="25" height="25" alt="">
                    <span class="font-20">&ensp;<b>Blog</b>itory&nbsp;로그인</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group mb-4">
                            <label for="login-id-input">이메일</label>
                            <input id="login-id-input" name="id" type="email" class="form-control"
                                   onkeydown="isEnterPress()" required>
                        </div>
                        <div class="form-group mb-4">
                            <label for="login-pwd-input">비밀번호</label>
                            <input id="login-pwd-input" name="pwd" type="password" class="form-control"
                                   onkeydown="isEnterPress()" required>
                        </div>
                        <div id="failed-reason" class="mb-4 d-none">
                            <span class="color-firebrick">이메일 혹은 비밀번호가 일치하지 않습니다.</span>
                        </div>
                        <a href="/signup">회원가입</a> /
                        <a href="#">비밀번호 찾기</a>
                        <button type="button" class="btn btn-outline-secondary ms-md-auto float-end" onclick="login()">
                            로그인
                        </button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <div class="col-12 text-align-center">
                        <span>소셜로 시작하기</span>
                    </div>
                    <div class="row margin-top-1">
                        <div class="col">
                            <a href="#">
                                <img class="oauth-icon" src="/static/icons/kakao-icon.png" alt="kakao">
                            </a>
                        </div>
                        <div class="col">
                            <a href="#">
                                <img class="oauth-icon" src="/static/icons/naver-icon.png" alt="naver">
                            </a>
                        </div>
                        <div class="col">
                            <a href="https://github.com/login/oauth/authorize?client_id=ee49c7b2e2685765b152">
                                <img class="oauth-icon" src="/static/icons/github-icon.png" alt="github">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>