<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blogitory - 피드</title>
    <link rel="canonical" href="https://blogitory.com/feed">
    <meta property="og:url" content="https://blogitory.com/feed">
    <meta property="og:title" content="Blogitory - 기록하는 공간">
    <meta property="og:description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <meta property="og:image" content="/static/logo/logo-375582.png">
    <meta name="description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-9">
                <div class="card card-lg">
                    <div class="card-header">
                        <div class="col-4 col-sm-3 col-md-2 col-lg-2">
                            <a href="/@mate" class="d-flex lh-1 text-body p-0">
                                <img class="avatar avatar-sm"
                                     src="https://emate-bucket.s3.ap-northeast-2.amazonaws.com/mem_thumb/a84af2b6-88b0-428f-94a2-2cad67eff0ca.jpeg"
                                     alt="pjp">
                                <div class="ps-2">
                                    <div>Mate</div>
                                    <div class="mt-1 small text-secondary">@mate</div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <h1 class="card-title" style="font-size: 25px;">Who's that then?</h1>
                            <span class="card-subtitle" style="font-size: 10px">2024.07.12</span>
                        </div>
                    </div>
                    <div class="card-body markdown" style="padding: 2em !important;">
                        <p>Well, she turned me into a newt. Burn her! We want a shrubbery!! Well, I got better.
                            Listen. Strange women lying in ponds distributing swords is no basis for a system of
                            government. Supreme executive power derives from a mandate from the masses, not from
                            some farcical aquatic ceremony.</p>
                        <p>Listen. <strong>Strange women lying in ponds distributing swords is no basis for a
                            system of government.</strong> <em>Supreme executive power derives from a mandate
                            from the masses, not from some farcical aquatic ceremony.</em> The swallow may fly
                            south with the sun, and the house martin or the plover may seek warmer climes in
                            winter, yet these are not strangers to our land.</p>
                        <h2 id="well-mercias-a-temperate-zone">Well, Mercia’s a temperate zone!</h2>
                        <p>You don’t frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly
                            person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly
                            English K-n-n-n-n-n-n-n-niggits! A newt?</p>
                        <ol>
                            <li>Listen. Strange women lying in ponds distributing swords is no basis for a
                                system of government. Supreme executive power derives from a mandate from the
                                masses, not from some farcical aquatic ceremony.
                            </li>
                            <li>I don’t want to talk to you no more, you empty-headed animal food trough water!
                                I fart in your general direction! Your mother was a hamster and your father
                                smelt of elderberries! Now leave before I am forced to taunt you a second time!
                            </li>
                            <li>We found them.</li>
                        </ol>
                        <h3 id="what-do-you-mean">What do you mean?</h3>
                        <p>Oh! Come and see the violence inherent in the system! Help, help, I’m being
                            repressed! The Lady of the Lake, her arm clad in the purest shimmering samite, held
                            aloft Excalibur from the bosom of the water, signifying by divine providence that I,
                            Arthur, was to carry Excalibur. That is why I am your king.</p>
                        <ul>
                            <li>The Knights Who Say Ni demand a sacrifice!</li>
                            <li>Be quiet!</li>
                            <li>Bloody Peasant!</li>
                        </ul>
                        <p>Well, I got better. Camelot! A newt? We want a shrubbery!! The Lady of the Lake, her
                            arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the
                            water, signifying by divine providence that I, Arthur, was to carry Excalibur. That
                            is why I am your king.</p>
                        <p>Shut up! …Are you suggesting that coconuts migrate? I’m not a witch. Well, we did do
                            the nose.</p>
                        <p>Well, how’d you become king, then? Shut up! Ni! Ni! Ni! Ni! Well, Mercia’s a
                            temperate zone! I don’t want to talk to you no more, you empty-headed animal food
                            trough water! I fart in your general direction! Your mother was a hamster and your
                            father smelt of elderberries! Now leave before I am forced to taunt you a second
                            time!</p>
                        <div class="language-scss highlighter-rouge">
                            <div class="highlight">
                        <pre class="highlight"><code><span class="nv">$extra-colors</span><span class="p">:</span> <span
                                class="p">(</span>
  <span class="s2">"blue"</span><span class="o">:</span> <span class="nv">$blue</span><span class="o">,</span>
  <span class="s2">"azure"</span><span class="o">:</span> <span class="nv">$azure</span><span class="o">,</span>
  <span class="s2">"indigo"</span><span class="o">:</span> <span class="nv">$indigo</span><span class="o">,</span>
  <span class="s2">"purple"</span><span class="o">:</span> <span class="nv">$purple</span><span class="o">,</span>
  <span class="s2">"pink"</span><span class="o">:</span> <span class="nv">$pink</span><span class="o">,</span>
  <span class="s2">"red"</span><span class="o">:</span> <span class="nv">$red</span><span class="o">,</span>
  <span class="s2">"orange"</span><span class="o">:</span> <span class="nv">$orange</span><span class="o">,</span>
  <span class="s2">"yellow"</span><span class="o">:</span> <span class="nv">$yellow</span><span class="o">,</span>
  <span class="s2">"lime"</span><span class="o">:</span> <span class="nv">$lime</span><span class="o">,</span>
  <span class="s2">"green"</span><span class="o">:</span> <span class="nv">$green</span><span class="o">,</span>
  <span class="s2">"teal"</span><span class="o">:</span> <span class="nv">$teal</span><span class="o">,</span>
  <span class="s2">"cyan"</span><span class="o">:</span> <span class="nv">$cyan</span><span class="o">,</span>
  <span class="s2">"gray"</span><span class="o">:</span> <span class="nv">$gray-600</span><span class="o">,</span>
  <span class="s2">"gray-dark"</span><span class="o">:</span> <span class="nv">$gray-800</span><span class="o">,</span>
  <span class="s2">"dark"</span><span class="o">:</span> <span class="nv">$dark</span>
<span class="p">)</span> <span class="o">!</span><span class="nb">default</span><span class="p">;</span>
</code></pre>
                            </div>
                        </div>
                        <p>You can’t expect to wield supreme power just ‘cause some watery tart threw a sword at
                            you! You don’t frighten us, English pig-dogs! Go and boil your bottoms, sons of a
                            silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your
                            silly English K-n-n-n-n-n-n-n-niggits!</p>
                        <p>What do you mean? Listen. Strange women lying in ponds distributing swords is no
                            basis for a system of government. Supreme executive power derives from a mandate
                            from the masses, not from some farcical aquatic ceremony.</p>
                        <p><img src="https://emate-bucket.s3.ap-northeast-2.amazonaws.com/mem_thumb/a84af2b6-88b0-428f-94a2-2cad67eff0ca.jpeg"
                                alt="Image Alt"/></p>
                        <p>Well, how’d you become king, then? You can’t expect to wield supreme power just
                            ‘cause some watery tart threw a sword at you! The Lady of the Lake, her arm clad in
                            the purest shimmering samite, held aloft Excalibur from the bosom of the water,
                            signifying by divine providence that I, Arthur, was to carry Excalibur. That is why
                            I am your king.</p>
                        <p>Well, I got better. Shut up! Will you shut up?! Well, I got better. I don’t want to
                            talk to you no more, you empty-headed animal food trough water! I fart in your
                            general direction! Your mother was a hamster and your father smelt of elderberries!
                            Now leave before I am forced to taunt you a second time!</p>
                        <hr/>
                        <h1 id="typographic-elements">Typographic elements</h1>
                        <h2 id="emphasis">Emphasis</h2>
                        <p><strong>This is bold text</strong></p>
                        <p><strong>This is bold text</strong></p>
                        <p><em>This is italic text</em></p>
                        <p><em>This is italic text</em></p>
                        <p>
                            <del>Strikethrough</del>
                        </p>
                        <h2 id="blockquotes">Blockquotes</h2>
                        <blockquote>
                            <p>Blockquotes can also be nested…</p>
                            <blockquote>
                                <p>…by using additional greater-than signs right next to each other…</p>
                                <blockquote>
                                    <p>…or with spaces between arrows.</p>
                                </blockquote>
                            </blockquote>
                        </blockquote>
                        <p>Bloody Peasant! What do you mean? It’s only a model. Well, Mercia’s a temperate
                            zone!</p>
                        <p>I am your king. Shh! Knights, I bid you welcome to your new home. Let us ride to
                            Camelot! Ni! Ni! Ni! Ni! Who’s that then? Listen. Strange women lying in ponds
                            distributing swords is no basis for a system of government. Supreme executive power
                            derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
                        <h2 id="lists">Lists</h2>
                        <p>Unordered</p>
                        <ul>
                            <li>Create a list by starting a line with <code
                                    class="language-plaintext highlighter-rouge">+</code>, <code
                                    class="language-plaintext highlighter-rouge">-</code>, or <code
                                    class="language-plaintext highlighter-rouge">*</code></li>
                            <li>Sub-lists are made by indenting 2 spaces:
                                <ul>
                                    <li>Marker character change forces new list start:
                                        <ul>
                                            <li>Ac tristique libero volutpat at</li>
                                            <li>Facilisis in pretium nisl aliquet</li>
                                            <li>Nulla volutpat aliquam velit</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>Very easy!</li>
                        </ul>
                        <p>Ordered</p>
                        <ol>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipiscing elit</li>
                            <li>Integer molestie lorem at massa</li>
                        </ol>
                        <h2 id="code">Code</h2>
                        <p>Inline <code class="language-plaintext highlighter-rouge">code</code></p>
                        <p>Indented code</p>
                        <div class="language-plaintext highlighter-rouge">
                            <div class="highlight">
                        <pre class="highlight"><code>// Some comments
line 1 of code
line 2 of code
line 3 of code
</code></pre>
                            </div>
                        </div>
                        <p>Block code “fences”</p>
                        <div class="language-plaintext highlighter-rouge">
                            <div class="highlight">
                        <pre class="highlight"><code>Sample text here...
</code></pre>
                            </div>
                        </div>
                        <p>Syntax highlighting</p>
                        <div class="language-js highlighter-rouge">
                            <div class="highlight">
                        <pre class="highlight"><code><span class="kd">var</span> <span class="nx">foo</span> <span
                                class="o">=</span> <span class="kd">function</span> <span class="p">(</span><span
                                class="nx">bar</span><span class="p">)</span> <span class="p">{</span>
  <span class="k">return</span> <span class="nx">bar</span><span class="o">++</span><span class="p">;</span>
<span class="p">};</span>

<span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span
                                    class="nx">foo</span><span class="p">(</span><span class="mi">5</span><span
                                    class="p">));</span>
</code></pre>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-1 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                </svg>
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" />
                                </svg>
                            </div>
                            <div class="col-1 d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                     stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                    <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                                    <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                                </svg>
                            </div>
                            <div class="col-2 ms-auto d-flex align-items-center justify-content-end">
                                <button class="btn d-flex" style="font-size: 10px; width: 50px; height: 30px">팔로우</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>