<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>피드 - Blogitory</title>
    <link rel="canonical" href="https://blogitory.com/feed">
    <meta property="og:url" content="https://blogitory.com/feed">
    <meta property="og:title" content="Blogitory - 기록하는 공간">
    <meta property="og:description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <meta property="og:image" content="/static/logo/logo-375582.png">
    <meta name="description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <th:block>
        <link rel="stylesheet" href="/static/css/lib/toastui-editor.css"/>
        <link rel="stylesheet" href="/static/css/lib/toastui-editor-dark.css">
        <link rel="stylesheet"
              href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
        <link rel="stylesheet"
              href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>
        <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css"/>
        <style>
            .content {
                max-height: 63vh;
                overflow: hidden;
                padding-bottom: 20px;
            }

            .pull-to-refresh {
                position: fixed;
                top: -20px;
                left: 0;
                right: 0;
                height: 20px;
                text-align: center;
                line-height: 20px;
                z-index: 1010;
            }
        </style>
    </th:block>
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div id="pull-to-refresh" class="col-12 pull-to-refresh">
        <div class="card">
            <div class="card-body d-lg-none">새로고침</div>
        </div>
    </div>
    <div class="page-body">
        <div class="row" id="posts-container">

        </div>
        <div class="row justify-content-center mt-6">
            <div id="spinner" class="spinner-border ms-auto me-auto"></div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/static/js/my/article-minimal.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <script>
        const {Editor} = toastui;
        let startY;
        let isPulling = false;

        document.addEventListener('touchstart', function (e) {
            startY = e.touches[0].pageY;
        });

        document.addEventListener('touchmove', function (e) {
            const currentY = e.touches[0].pageY;
            if (currentY > startY && window.scrollY === 0) {
                isPulling = true;
                const pullDistance = currentY - startY;
                if (pullDistance < 100) {
                    document.getElementById('pull-to-refresh').style.top = `${pullDistance - 50}px`;
                }
            }
        });

        document.addEventListener('touchend', function () {
            if (isPulling) {
                isPulling = false;
                document.getElementById('pull-to-refresh').style.top = '-50px';

                location.reload();
            }
        });

        const holder = document.getElementById('spinner');
        let page = 0;
        let container = document.getElementById('posts-container');
        let start = 0;

        const io = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    axios.get("/api/feed?s=" + start + "&page=" + page)
                        .then((response) => {
                            start = response.data.start
                            let articles = response.data.pages.body;

                            for (let article of articles) {
                                let articleDiv = getFeedPostsComponent(article);
                                container.appendChild(articleDiv);
                            }

                            if (!response.data.pages.hasNext) {
                                holder.classList.add("d-none");
                                io.unobserve(holder);
                            } else {
                                page++;
                                io.observe(holder);
                            }

                            let themeStorageKey = "tablerTheme";
                            let defaultTheme = "light";
                            let selectedTheme = localStorage.getItem(themeStorageKey);
                            let viewerEls = document.querySelectorAll(".viewer");

                            if (selectedTheme === "light") {
                                if (viewerEls && viewerEls.length > 0) {
                                    viewerEls.forEach(function (viewerEl) {
                                        viewerEl.classList.remove("toastui-editor-dark");
                                    })
                                }
                            } else if (selectedTheme === "dark") {
                                if (viewerEls && viewerEls.length > 0) {
                                    viewerEls.forEach(function (viewerEl) {
                                        viewerEl.classList.add("toastui-editor-dark");
                                    })
                                }
                            }
                        });
                }
            })
        }, {threshold: 0.6});

        window.addEventListener("DOMContentLoaded", () => {
            io.observe(holder);
        });
    </script>
</th:block>
</body>
</html>