<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blogitory - 최신글</title>
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div id="main-components" class="row row-deck row-cards">
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/static/js/my/article-minimal.js" defer></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            axios.get("/api/posts/recent")
                .then((response) => {
                    let mainComponents = document.getElementById("main-components");

                    let articles = response.data.body;

                    for (let article of articles) {
                        let articleDiv = getPostComponent(article);
                        mainComponents.appendChild(articleDiv);
                    }
                });
        });
    </script>
</th:block>
</body>
</html>