<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blogitory - 최신글</title>
    <link rel="canonical" href="https://blogitory.com">
    <meta property="og:url" content="https://blogitory.com">
    <meta property="og:title" content="Blogitory - 기록하는 공간">
    <meta property="og:description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <meta property="og:image" content="/static/logo/logo-375582.png">
    <meta name="description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div id="main-components" class="row row-deck row-cards">
            <div id="place-holder-1" class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 place-holder">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-16x9 card-img-top placeholder"></div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-3"></div>
                    </div>
                </div>
            </div>
            <div id="place-holder-2" class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 place-holder">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-16x9 card-img-top placeholder"></div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-3"></div>
                    </div>
                </div>
            </div>
            <div id="place-holder-3" class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 place-holder">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-16x9 card-img-top placeholder"></div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-3"></div>
                    </div>
                </div>
            </div>
            <div id="place-holder-4" class="col-12 col-md-6 col-lg-4 col-xl-3 mt-3 place-holder">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-16x9 card-img-top placeholder"></div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/static/js/my/article-minimal.js"></script>
    <script>
        const holders = document.querySelectorAll('.place-holder');
        let page = 0;

        const io = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    console.log("call");
                    axios.get("/api/posts/recent?page=" + page)
                        .then((response) => {
                            let articles = response.data.body;

                            for (let article of articles) {
                                let articleDiv = getPostComponent(article);
                                holders[0].before(articleDiv);
                            }

                            if (!response.data.hasNext) {
                                for (let i = 0; i < holders.length; i++) {
                                    holders[i].classList.add("d-none");
                                }
                                io.unobserve(holders[0]);
                            } else {
                                page++;
                                io.observe(holders[0]);
                            }
                        });
                }
            })
        }, {threshold: 0.6});

        window.addEventListener("DOMContentLoaded", () => {
            io.observe(holders[0]);
        });
    </script>
</th:block>
</body>
</html>