<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blogitory - 비밀번호 변경</title>
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <img class="navbar-brand-image" src="/static/logo/logo-375582.svg" width="25" height="25"
                                 alt="">
                            <p class="navbar-brand">비밀번호 초기화</p>
                        </div>
                        <form id="pwd-form" name="requestDto" method="POST" action="/users/passwords">
                            <div class="mb-3">
                                <input class="d-none" name="ui" th:value="${ui}">
                                <label class="form-label">비밀번호</label>
                                <input type="password" id="pwd-input" name="pwd" class="form-control"
                                       onkeyup="pwdValidate(this)">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">비밀번호 확인</label>
                                <input type="password" id="pwd-input-check" name="pwd-check" class="form-control"
                                       onkeyup="pwdCheckValidate(this)">
                            </div>
                        </form>
                        <div class="mb-3">
                            <button class="btn" onclick="pwdFormPush()">변경</button>
                            <button class="btn" onclick="window.location.href='/'">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script defer>
        let pwdReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()_+=?<>.,/|~`])[A-Za-z\d!@#$%^&*()_+=?<>.,/|~`]{8,}$/

        function pwdValidate(element) {
            if (!pwdReg.test(element.value)) {
                element.className = "form-control is-invalid";
                return false;
            } else {
                element.className = "form-control is-valid";
                return true;
            }
        }

        function pwdCheckValidate(element) {
            const origin = document.getElementById("pwd-input").value;

            if (origin !== element.value) {
                element.className = "form-control is-invalid";
                return false;
            } else if (!pwdReg.test(element.value)) {
                element.className = "form-control is-invalid";
                return false;
            } else {
                element.className = "form-control is-valid";
                return true;
            }
        }

        function pwdFormPush() {
            let pwdInput = document.querySelector("#pwd-input");
            let pwdInputCheck = document.querySelector("#pwd-input-check");
            let pwdForm = document.querySelector("#pwd-form");

            if (pwdValidate(pwdInput) && pwdCheckValidate(pwdInputCheck)) {

                pwdForm.submit();
            } else {
                alert("비밀번호 양식을 충족하지 않았습니다.");
            }
        }
    </script>
</th:block>

</body>
</html>