<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입 - Blogitory</title>
    <link rel="canonical" href="https://blogitory.com/signup">
    <meta property="og:url" content="https://blogitory.com/signup">
    <meta property="og:title" content="Blogitory - 기록하는 공간">
    <meta property="og:description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <meta property="og:image" content="/static/logo/logo-375582.png">
    <meta name="description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
</head>
<body class="body-background">
<div class="container-md padding-top-5" layout:fragment="main-content">
    <div class="row ms-md-auto justify-content-center">
        <div class="col-3 d-none d-lg-block" style="height: 300px">

        </div>
        <div class="col" style="max-width: 500px">
            <div class="card mt-8">
                <div class="card-header">
                    <h2 class="text-center">회원가입</h2>
                </div>
                <div class="card-body">
                    <form id="signupForm" name="requestDto" method="POST" action="/signup" class="ol-12">
                        <div class="form-group mb-4">
                            <label for="username-input" class="col-3">유저네임</label>
                            <input id="username-input" name="username" type="text" class="form-control" maxlength="20"
                                   onkeyup="usernameCheck()" required>
                            <span id="cant-username" class="d-none text-danger">사용할 수 없는 유저네임입니다.</span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="name-input" class="col-3">이름</label>
                            <input id="name-input" name="name" type="text" class="form-control" maxlength="20"
                                   onkeyup="nameValidate(this)" required>
                            <span id="cant-name" class="d-none text-danger">사용할 수 없는 이름입니다.</span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="email-input" class="col-3">이메일</label>
                            <div class="input-group mb-3">
                                <input id="email-input" name="email" type="email" aria-describedby="send-button"
                                       class="form-control" maxlength="50" onkeyup="emailValidate(this)" required>
                                <button class="btn btn-outline-secondary" type="button" id="send-button"
                                        onclick="emailVerificationFormOpen()">
                                    인증
                                </button>
                            </div>
                            <span id="send-email" class="text-success d-none">메일이 발송되었습니다.</span>
                            <span id="cant-send-email" class="text-danger d-none">메일 발송에 실패하였습니다. 잠시 후 다시 시도해주세요.</span>
                            <span id="dup-email" class="text-danger d-none">사용중인 이메일입니다.</span>
                        </div>
                        <div class="form-group mb-4 d-none" id="email-verify-div">
                            <label for="email-verify">인증번호</label>
                            <div class="input-group mb-3">
                                <input class="form-control" id="email-verify" maxlength="6"
                                       aria-describedby="email-verify-button" required>
                                <button id="email-verify-button" type="button" class="btn btn-outline-secondary"
                                        onclick="emailVerification()">확인
                                </button>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="pwd-input">비밀번호</label>
                            <input id="pwd-input" name="pwd" type="password" class="form-control"
                                   onkeyup="pwdValidate(this)" required>
                            <span id="cant-pwd" class="text-danger d-none">사용할 수 없는 비밀번호입니다.</span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="pwd-check-input">비밀번호 확인</label>
                            <input id="pwd-check-input" type="password" class="form-control"
                                   onkeyup="pwdCheckValidate(this)" required>
                            <span id="cant-pwd-check" class="text-danger d-none">비밀번호가 일치하지 않습니다.</span>
                        </div>
                        <button id="submitButton" type="button"
                                class="btn btn-outline-secondary ms-md-auto float-end" onclick="memberSignup(this)">
                            가입하기
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 d-none d-lg-block" style="height: 300px">

        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/static/js/my/signup.js" defer></script>
</th:block>
</body>
</html>