<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>임시 작성 글 - Blogitory</title>
    <link rel="canonical" href="https://blogitory.com">
    <meta property="og:url" content="https://blogitory.com">
    <meta property="og:title" content="Blogitory - 기록하는 공간">
    <meta property="og:description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <meta property="og:image" content="/static/logo/logo-375582.png">
    <meta name="description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        임시 저장된 글
                    </h2>
                    <span class="page-subtitle">최대 10개까지 저장됩니다.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="card">
            <div class="card-body">
                <div id="table-default" class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>마지막 저장일</th>
                            <th>제목</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody class="table-tbody">
                        <tr th:each="tempPost : ${tempPosts}">
                            <td class="col-2"
                                th:text="${#temporals.format(tempPost.createdAt, 'yyyy. MM. dd HH:mm')}"></td>
                            <td class="col" th:text="${tempPost.title}"></td>
                            <td class="col-1"><a class="btn" th:href="'posts?tp=' + ${tempPost.tempPostsId}"
                                                 style="height: 25px">수정</a></td>
                            <td class="col-1"><a class="btn btn-outline-danger"
                                                 th:onclick="deleteTempPosts([[${tempPost.tempPostsId}]])"
                                                 style="height: 25px">삭제</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        function deleteTempPosts(tp) {
            axios.delete("/api/posts?tp=" + tp)
                .then(response => {
                    window.location.reload();
                }).catch(error => {
                openFailedAlerts("삭제에 실패하였습니다.");
            })
        }
    </script>
    <script src="/static/js/my/posts.js" defer></script>
</th:block>
</body>
</html>