<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>설정 - Blogitory</title>
    <meta property="og:url" content="https://blogitory.com/settings">
    <meta property="og:title" content="Blogitory - 기록하는 공간">
    <meta property="og:description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
    <meta property="og:image" content="/static/logo/logo-375582.png">
    <meta name="description" content="Blogitory에서 생각을 기록하고, 세상과 소통하세요.">
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div class="card">
            <div class="row g-0">
                <div class="col-12 col-md-3 border-end">
                    <div class="card-body">
                        <div class="list-group list-group-transparent">
                            <a href="/settings"
                               class="list-group-item list-group-item-action d-flex align-items-center active">계정</a>
                            <a href="/settings/notification"
                               class="list-group-item list-group-item-action d-flex align-items-center">알림</a>
                            <a href="/settings/blog"
                               class="list-group-item list-group-item-action d-flex align-items-center">블로그</a>
                            <a href="/settings/posts"
                               class="list-group-item list-group-item-action d-flex align-items-center">게시물</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 d-flex flex-column">
                    <div class="card-body">
                        <h3 class="card-title">프로필</h3>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img id="pfp" class="avatar avatar-xl rounded-circle"
                                     th:src="${thumbIsNull} ? '/static/icons/person.svg' : ${memberProfile.getPfpUrl()}"
                                     alt="pjp"/></div>
                            <div class="col-auto">
                                <button type="button" class="btn" onclick="pfpInputClick()">변경</button>
                            </div>
                            <div class="col-auto"><a href="#" class="btn btn-ghost-danger" onclick="pfpRemove()">
                                삭제
                            </a></div>
                            <input id="pfpInput" type="file" class="d-none" accept="image/*" onchange="pfpChanged()">
                        </div>
                        <h3 class="card-title mt-4">이름</h3>
                        <div class="row g-3">
                            <div class="col-md">
                                <div class="form-label">Username
                                    <span class="form-label-description">변경이 불가합니다.</span></div>
                                <input type="text" class="form-control" th:value="${memberProfile.username}" readonly>
                            </div>
                            <div class="col-md">
                                <div class="form-label">Name</div>
                                <input id="name" type="text" class="form-control" th:value="${memberProfile.name}" onkeyup="nameValidate(this)">
                                <span id="cant-name" class="d-none text-danger">사용할 수 없는 이름입니다.</span>
                            </div>
                        </div>
                        <h3 class="card-title mt-4">이메일</h3>
                        <p class="card-subtitle">로그인에 이용됩니다.</p>
                        <div>
                            <div class="row g-2">
                                <div class="col-6">
                                    <input id="memberEmail" type="text" class="form-control"
                                           th:value="${memberProfile.email}" readonly>
                                </div>
                            </div>
                        </div>
                        <h3 class="card-title mt-4">비밀번호</h3>
                        <div>
                            <button onclick="changePasswordClick()" class="btn">
                                비밀번호 변경
                            </button>
                            <p id="pwdSent" class="mt-2 d-none" style="color: var(--tblr-form-valid-color)">가입하신 이메일로
                                비밀번호 변경 메일이 발송되었습니다.</p>
                            <p id="pwdSentFail" class="mt-2 d-none" style="color: var(--tblr-form-invalid-color)">메일 발송에
                                실패하였습니다.</p>
                        </div>
                        <h3 class="card-title mt-4">한 줄 소개</h3>
                        <div class="row g-3">
                            <div class="col-md">
                                <textarea id="bio" type="text" class="form-control" rows="6" placeholder="Bio.."
                                          th:text="${memberProfile.bio}"></textarea>
                            </div>
                        </div>
                        <h3 class="card-title mt-4">공개 이메일</h3>
                        <div class="row g-2">
                            <div class="col-6">
                                <input id="introEmail" type="text" class="form-control"
                                       th:value="${memberProfile.introEmail}">
                            </div>
                        </div>
                        <h3 class="card-title mt-4">소셜 링크</h3>
                        <div class="row g-2 mb-1" th:each="link : ${memberProfile.links}">
                            <div class="col-6">
                                <input type="text" class="form-control profile-links" th:value="${link}">
                            </div>
                        </div>
                        <div class="row g-2 mb-1"
                             th:each="num : ${#numbers.sequence(1, 5 - memberProfile.links.size())}">
                            <div class="col-6">
                                <input type="text" class="form-control profile-links">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent mt-auto">
                        <div class="btn-list">
                            <button type="button" class="btn btn-ghost-danger" data-bs-toggle="modal"
                                    data-bs-target="#userQuitModal">
                                계정 탈퇴
                            </button>
                            <div class="ms-auto">
                                <span id="save-failed" class="d-none"
                                      style="color: var(--tblr-danger)">저장에 실패하였습니다.</span>
                            </div>
                            <button type="button" class="btn btn-primary ms-auto" onclick="profileUpdate()">
                                저장
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="userQuitModal" tabindex="-1">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-danger"></div>
                <div class="modal-body text-center py-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24"
                         viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                         stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 9v2m0 4v.01"/>
                        <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"/>
                    </svg>
                    <h3>탈퇴</h3>
                    <div class="text-secondary">모든 활동이 함께 삭제되며 복구가 불가능합니다.</div>
                    <div class="w-100 mt-2">
                        <div class="col">
                            <div>하단에 비밀번호를 입력해주세요.</div>
                            <input class="form-control" id="left-pwd" type="password"/>
                        </div>
                    </div>
                    <div class="w-100 mt-2">
                        <div class="row">
                            <div class="col">
                                <button class="btn w-100" data-bs-dismiss="modal">취소</button>
                            </div>
                            <div class="col">
                                <button class="btn btn-danger w-100" data-bs-dismiss="modal" onclick="deleteAccount()">
                                    계정 탈퇴
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/static/js/my/settings.js" defer></script>
</th:block>
</body>
</html>