<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="alerts" class="position-fixed" style="z-index: 1080; top: 5em; right: 1em">
    <div id="success-alerts" class="d-none">
        <div class="alert alert-important alert-success" role="alert" style="background: #375582">
            <div class="d-flex">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l5 5l10 -10" /></svg>
                </div>
                <div id="success-alerts-msg">
                    성공하였습니다.
                </div>
            </div>
        </div>
    </div>
    <div id="failed-alerts" class="d-none">
        <div class="alert alert-important alert-danger" role="alert">
            <div class="d-flex">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                </div>
                <div id="failed-alerts-msg">
                    실패하였습니다.
                </div>
            </div>
        </div>
    </div>
    <div id="warn-alerts" class="d-none">
        <div class="alert alert-important alert-warning" role="alert">
            <div class="d-flex">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
                </div>
                <div id="warn-alerts-msg">
                    실패하였습니다.
                </div>
            </div>
        </div>
    </div>
</div>

</html>