<!DOCTYPE html>
<html>
<ul th:fragment="settings-sidebar" class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" id="settings-index" href="/settings" style="color: black">계정</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-profile" href="/settings/profile" style="color: black">프로필</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="settings-blog" href="/settings/blog" style="color: black">블로그</a>
    </li>
</ul>
</html>