<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{profile/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blogitory</title>
    <style>

    </style>
</head>
<body class="body-background">
<div class="container-md padding-top-6" layout:fragment="main-content">
    <div class="row">
        <div class="profile col-lg-3 d-none d-lg-block">
            <div class="row">
                <div style="width: 100%; vertical-align: middle;">
                    <img id="profile-pfp" class="img-profile rounded-circle" style="max-width: 90%" th:src="${profile.profileThumb}" alt="profile_picture">
                    <img id="profile-pfp-updatable"  class="img-profile rounded-circle d-none cursor-pointer" style="max-width: 90%" th:src="${profile.profileThumb}" alt="profile_picture" title="사진 변경">
                </div>
            </div>

            <div class="row">
                <div class="row">
                    <span id="profile-name" class="profile-name" th:text="${profile.name}"></span>
                    <span class="profile-username" th:text="'@'+${profile.username}"></span>
                </div>
                <div th:if="${profile.bio} != null" id="profile-bio" class="row justify-content-center">
                    <span th:text="${profile.bio}"></span>
                </div>
                <div sec:authorize="isAuthenticated()" id="profile-updatable" class="row justify-content-center d-none">
                    <hr class="margin-top-1">
                    <label for="profile-name-updatable" class="form-label">Name</label>
                    <input id="profile-name-updatable" type="text" class="form-control" aria-label="Name" aria-describedby="name-input" style="margin-top: -10px" th:value="${profile.name}">
                    <label for="profile-bio-updatable" class="form-label margin-top-1">Bio</label>
                    <textarea id="profile-bio-updatable" class="form-control" style="margin-top: -10px; height: 110px"  th:text="${profile.bio} == null ? '' : ${profile.bio}"></textarea>
                    <label for="profile-email-updatable" class="form-label margin-top-1">Email</label>
                    <input id="profile-email-updatable" class="form-control" style="margin-top: -10px"  th:value="${profile.introEmail} == null ? '' : ${profile.introEmail}">
                    <label class="form-label margin-top-1" style="margin-bottom: -3px">Social</label>
                    <input th:each="link : ${profile.links}" class="form-control profile-links-updatable" th:value="${link.getLinkUrl()}">
                    <input class="form-control profile-links-updatable" th:each="num : ${#numbers.sequence(1, 5 - profile.links.size())}">
                </div>
                <div id="profile-button-updatable" class="row justify-content-end d-none" style="margin-top: 5px">
                    <button type="button" class="btn btn-secondary" style="width: 60px" onclick="saveProfiles()">저장</button>
                    <button type="button" class="btn btn-secondary" style="width: 60px; margin-left: 10px" onclick="showProfiles()">취소</button>
                </div>
                <div id="profile-button" sec:authorize="isAuthenticated()" class="row justify-content-center">
                    <button th:if="${profile.username} != ${members.username}" type="button" class="btn btn-secondary">팔로우</button>
                    <button th:if="${profile.username} == ${members.username}" type="button" class="btn btn-secondary" onclick="disappearProfiles()">프로필 수정</button>
                </div>
                <div id="profile-follow" class="col-12">
                    <a class="follow font-15" href="#">
                        <span class="icon material-symbols-outlined">group</span>
                        <b><span th:text="${profile.followerCnt}"></span></b><span> 팔로워</span>
                    </a>
                    ·
                    <a class="follow font-15" href="#">
                        <b><span th:text="${profile.followeeCnt}"></span></b><span> 팔로잉</span>
                    </a>
                </div>
            </div>
            <div id="profile-email" class="row justify-content-center">
                <a class="follow" th:href="'mailto:' + ${profile.introEmail}">
                    <span class="material-symbols-outlined col icon">mail</span>
                    <span id="profile-mail" class="col-11" th:text="${profile.introEmail}"></span>
                </a>
                <div th:each="link : ${profile.links}">
                    <a class="follow" th:href="${link.linkUrl}">
                        <span class="material-symbols-outlined col icon">link</span>
                        <span class="col-11" th:text="${link.getLinkUrl()}"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="contents col-lg-9 d-none d-lg-block">
            <div class="row">
                <h5>Blogs</h5>
                <div class="col-4" th:each="blog : ${profile.blogs}">
                    <div class="card" style="height: 120px">
                        <div class="card-body">
                            <a class="follow" th:href="${blog.getBlogUrl()}"><h5 class="card-title" th:text="${blog.blogName}"></h5></a>
                            <div class="card-text blog-bio-overflow" th:text="${blog.blogBio}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-1" sec:authorize="isAuthenticated()" th:if="${profile.blogs.size()} < 3 and ${profile.username} == ${members.username}" style="width: 70px; margin-left: -1em">
                    <div class="card cursor-pointer" style="height: 120px" onclick="location.href='#'">
                        <div class="card-body">
                            <h5 class="card-title" style="margin-top: 1.5em">+</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2em">
                <h5>Yearly Posts</h5>
                <div class="col">
                    <div class="card"  style="height: 200px;">

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2em">
                <h5>Recent Posting</h5>
                <div class="col">
                    <div class="card" style="height: 200px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                </div>
            </div>
        </div>

        <div class="profile col-dm-4 d-lg-none">
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <div class="col-4">
                        <img id="profile-pfp-mobile" class="img-profile rounded-circle" style="max-width: 100%" th:src="${profile.profileThumb}" alt="profile_image">
                        <img id="profile-pfp-updatable-mobile"  class="img-profile rounded-circle d-none cursor-pointer" style="max-width: 90%" th:src="${profile.profileThumb}" alt="profile_picture" title="사진 변경">
                    </div>
                    <div id="profile-name-mobile" class="col-8">
                        <div>
                            <b><span class="profile-name" th:text="${profile.name}"></span></b>
                        </div>
                        <div>
                            <span class="profile-username" th:text="'@'+${profile.username}"></span>
                        </div>
                        <div class="row justify-content-center">
                            <a class="follow" th:href="'mailto:' + ${profile.introEmail}">
                                <span class="material-symbols-outlined col icon">mail</span>
                                <span class="col-11" th:text="${profile.introEmail}"></span>
                            </a>
                            <div class="dropdown">
                                <button class="btn border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" style="margin-left: -12px;">
                                    <span class="material-symbols-outlined col icon">link</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm-start">
                                    <li th:each="link : ${profile.links}">
                                        <a class="dropdown-item" th:href="${link}">
                                            <span class="material-symbols-outlined col icon">link</span>
                                            <span th:text="${link}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="profile-bio-mobile" th:if="${profile.bio} != null" class="row justify-content-center">
                    <span th:text="${profile.bio}" style="max-width: 90%">bio......</span>
                </div>
                <div id="profile-button-mobile" sec:authorize="isAuthenticated()" class="row justify-content-center" style="margin-top: 5px">
                    <button th:if="${profile.username} != ${members.username}" type="button" class="btn btn-secondary" style="max-width: 90%;">팔로우</button>
                    <button th:if="${profile.username} == ${members.username}" type="button" class="btn btn-secondary" style="max-width: 90%;" onclick="disappearProfilesMobile()">프로필 수정</button>
                </div>
                <div id="profile-follow-mobile" class="col-12">
                    <a class="follow font-15" href="#" style="margin-left: 3%">
                        <span class="icon material-symbols-outlined">group</span>
                        <b><span th:text="${profile.followerCnt}"></span></b><span> 팔로워</span>
                    </a>
                    ·
                    <a class="follow font-15" href="#">
                        <b><span th:text="${profile.followeeCnt}"></span></b><span> 팔로잉</span>
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()" id="profile-updatable-mobile" class="row justify-content-center d-none">
                    <hr class="margin-top-1">
                    <label for="profile-name-updatable-mobile" class="form-label">Name</label>
                    <input id="profile-name-updatable-mobile" type="text" class="form-control" aria-label="Name" aria-describedby="name-input" style="margin-top: -10px" th:value="${profile.name}">
                    <label for="profile-bio-updatable-mobile" class="form-label margin-top-1">Bio</label>
                    <textarea id="profile-bio-updatable-mobile" class="form-control" style="margin-top: -10px; height: 110px"  th:text="${profile.bio} == null ? '' : ${profile.bio}"></textarea>
                    <label for="profile-email-updatable-mobile" class="form-label margin-top-1">Email</label>
                    <input id="profile-email-updatable-mobile" class="form-control" style="margin-top: -10px"  th:value="${profile.introEmail} == null ? '' : ${profile.introEmail}">
                    <label class="form-label margin-top-1" style="margin-bottom: -3px">Social</label>
                    <input th:each="link : ${profile.links}" class="form-control profile-links-updatable-mobile" th:value="${link.getLinkUrl()}">
                    <input class="form-control profile-links-updatable-mobile" th:each="num : ${#numbers.sequence(1, 5 - profile.links.size())}">
                </div>
                <div id="profile-button-updatable-mobile" class="row justify-content-end d-none" style="margin-top: 5px">
                    <button type="button" class="btn btn-secondary" style="width: 60px" onclick="saveProfilesMobile()">저장</button>
                    <button type="button" class="btn btn-secondary" style="width: 60px; margin-left: 10px" onclick="showProfilesMobile()">취소</button>
                </div>
            </div>
        </div>
        <div class="contents col-dm-4 d-lg-none" style="margin-top: 2em;">
            <div class="row justify-content-center">
                <h5>Blogs</h5>
                <div class="col-12" style="margin-bottom: 5px" th:each="blog : ${profile.blogs}">
                    <div class="card" style="height: 120px">
                        <div class="card-body">
                            <a class="follow" th:href="${blog.getBlogUrl()}"><h5 class="card-title" th:text="${blog.blogName}"></h5></a>
                            <div class="card-text blog-bio-overflow" th:text="${blog.blogBio}"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12" sec:authorize="isAuthenticated()" th:if="${profile.blogs.size()} < 3 and ${profile.username} == ${members.username}">
                    <div class="card cursor-pointer" style="height: 50px;" onclick="location.href='#'">
                        <div class="card-body">
                            <h5 class="card-title">+</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-1">
                <h5>Yearly Posts</h5>
                <div class="col">
                    <div class="card"  style="height: 200px;">

                    </div>
                </div>
            </div>
            <div class="row margin-top-1">
                <h5>Recent Posting</h5>
                <div class="col">
                    <div class="card" style="height: 200px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                </div>
            </div>
<!--            <div class="row" style="margin-top: 2em">
                <h5>Yearly Posts</h5>
                <div class="col">
                    <div class="card"  style="height: 200px;">

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2em">
                <h5>Recent Posting</h5>
                <div class="col">
                    <div class="card" style="height: 200px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                    <div class="card" style="height: 200px; margin-top:10px;">

                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>

</body>
</html>