.font-25 {
    font-size: 25px;
}

.font-18 {
    font-size: 18px;
}

.header-thumb {
    height: 30px;
    width: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-15 {
    font-size: 15px;
}

.color-firebrick {
    color: firebrick;
}

.text-align-center {
    text-align: center;
}

.padding-top-4 {
    padding-top: 4em;
}

.padding-top-5 {
    padding-top: 5em;
}

.margin-top-1 {
    margin-top: 1em;
}

.padding-top-6 {
    padding-top: 6em;
}

.margin-top-5 {
    margin-top: 5em;
}

.margin-top-2 {
    margin-top: 2em;
}