:root {
    --background-color: #EEEEEE;
    --profile-name: black;
    --default-text-color: black;
    --font-color: #252525;
}

.body-background {
    background-color: var(--background-color);
}

.nav-icon {
    max-width: 20px;
    max-height: 20px;
    margin-bottom: 4px;
}

.write-button {
    color: black;
    border: 0.1em solid black;
    border-radius: 10px;
}

.write-button:focus {
    border: 0.1em solid black;
}

.signup-button {
    color: black;
    border: 0.1em solid black;
    border-radius: 10px;
}

.notice-icon {
    width: 25px;
    height: 25px;
}

.default-input {
    background-color: #EEEEEE;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #AAAAAA;
    border-radius: 0;
}

.default-input:focus {
    outline: none;
    border-bottom: 1px solid #252525;
    border-radius: 0;
}

.signup-div {
    margin-top: 1em;
    height: 2em;
}

.oauth-icon {
    width: 45px;
    height: 45px;
}

.text-divider {
    font-size: 15px;
    display: flex;
    text-align: center;
}

.social-login-text:after {
    width: 5em;
    height: 1px;
    background-color: #eaedf4;
    display: inline-block;
    vertical-align: super;
    content: "";
}

.social-login-text:before {
    width: 5em;
    height: 1px;
    background-color: #eaedf4;
    display: inline-block;
    vertical-align: super;
    content: "";
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

span .size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}

.icon {
    vertical-align: top;
    color: var(--font-color);
}

.follow {
    text-decoration: none;
    color: black;
}

.follow:hover {
    text-decoration: underline;
    color: black;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.blog-bio-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.profile-name {
    font-size: 35px;
    font-weight: bold;
    color: var(--profile-name);
}

.profile-username {
    font-size: 25px;
    color: #505050;
}

.icon-description {
    color: var(--font-color);
}