<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Blogitory - Error</title>
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div class="row justify-content-center">
            <div class="col-12 align-items-center">
                <img th:if="${errorCode} == 400" class="m-auto d-block" src="/static/images/400.svg" alt="404"/>
                <img th:if="${errorCode} == 403" class="m-auto d-block" src="/static/images/403.svg" alt="404"/>
                <img th:if="${errorCode} == 404" class="m-auto d-block" src="/static/images/404.svg" alt="404"/>
                <img th:if="${errorCode} == 500" class="m-auto d-block" src="/static/images/500.svg" alt="404"/>

            </div>
        </div>
    </div>
</div>
</body>
</html>