<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${blog.blogName} + ' - 전체 글'"></title>
    <link rel="canonical" th:href="${'https://blogitory.com/' + blog.blogUrl + '/posts'}">
    <meta property="og:url" th:content="${'https://blogitory.com/' + blog.blogUrl + '/posts'}">
    <meta property="og:title" th:content="${blog.blogName} + ' - 전체 글'">
    <meta property="og:description" th:content="${blog.blogName} + ' - 전체 글'">
    <meta property="og:image"
          th:content="${not #strings.isEmpty(blog.blogThumbUrl)} ? ${blog.blogThumbUrl} : '/static/logo/logo-375582.png'">
    <meta name="description" th:content="${blog.blogName} + ' - 전체 글'">
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-header">
        <div class="col-12">
            <div class="ms-md-auto float-end">
                <svg id="view-grid-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-grid-dots cursor-pointer">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M19 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                    <path d="M19 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"/>
                </svg>
                <svg id="view-album-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-layout-grid cursor-pointer">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                    <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                    <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                    <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"/>
                </svg>
                <svg id="view-list-btn" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="icon icon-tabler icons-tabler-outline icon-tabler-layout-list cursor-pointer">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"/>
                    <path d="M4 14m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v2a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="page-body mt-0">
        <div id="recent-posting" class="row row-cards row-deck mt-2">
            <div id="place-holder-1" class="col-12 col-md-6 place-holder">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-16x9 card-img-top placeholder"></div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-3"></div>
                    </div>
                </div>
            </div>
            <div id="place-holder-2" class="col-12 col-md-6 place-holder">
                <div class="card placeholder-glow">
                    <div class="ratio ratio-16x9 card-img-top placeholder"></div>
                    <div class="card-body">
                        <div class="placeholder col-9 mb-3"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-12"></div>
                        <div class="placeholder placeholder-xs col-3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="d-flex">
                <div class="col-12">
                    <div class="float-start">
                        <a id="page-previous" class="text-body d-none" href="#" tabindex="-1" aria-disabled="true">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M15 6l-6 6l6 6"/>
                            </svg>
                            이전
                        </a>
                    </div>
                    <div class="ms-md-auto float-end">
                        <a id="page-next" class="text-body d-none" href="#">
                            다음
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 6l6 6l-6 6"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/static/js/my/article-minimal.js"></script>
    <script th:inline="javascript">
        let pageable = [[${pageable}]].pageNumber;
        let blog = [[${blog}]].blogUrl;

        let url = "/api/" + blog + "/posts/recent?page=" + pageable;
        const holders = document.querySelectorAll('.place-holder');
        let pagePrevious = document.getElementById("page-previous");
        let pageNext = document.getElementById("page-next");
        let path = location.pathname;
        let viewAlbumBtn = document.getElementById("view-album-btn");
        let viewListBtn = document.getElementById("view-list-btn");
        let viewGridBtn = document.getElementById("view-grid-btn");

        document.addEventListener('DOMContentLoaded', function () {
            axios.get(url)
                .then(response => {
                    let recentPosting = document.getElementById("recent-posting");

                    let articles = response.data.body;

                    for (let i = 0; i < holders.length; i++) {
                        holders[i].classList.add("d-none");
                    }

                    for (let article of articles) {
                        let articleDiv = getPostsByStyleForBlog(article);
                        recentPosting.appendChild(articleDiv);
                    }

                    if (response.data.hasNext) {
                        pageNext.classList.remove("d-none");
                        pageNext.href = path + "?page=" + (pageable + 1);
                    }

                    if (response.data.hasPrevious) {
                        pagePrevious.classList.remove("d-none");
                        pagePrevious.href = path + "?page=" + (pageable - 1);
                    }

                    viewAlbumBtn.addEventListener("click", () => {
                        if (getCookie("view-style") !== "album") {
                            setCookie('view-style', 'album', 365);

                            recentPosting.innerHTML = "";

                            for (let article of articles) {
                                let articleDiv = getPostsByStyleForBlog(article);
                                recentPosting.appendChild(articleDiv);
                            }
                        }

                        viewListBtn.classList.remove("text-primary");
                        viewGridBtn.classList.remove("text-primary");
                    });

                    viewListBtn.addEventListener("click", () => {
                        if (getCookie("view-style") !== "list") {
                            setCookie('view-style', 'list', 365);

                            recentPosting.innerHTML = "";

                            for (let article of articles) {
                                let articleDiv = getPostsByStyleForBlog(article);
                                recentPosting.appendChild(articleDiv);
                            }
                        }

                        viewAlbumBtn.classList.remove("text-primary");
                        viewGridBtn.classList.remove("text-primary");
                    });

                    viewGridBtn.addEventListener("click", () => {
                        if (getCookie("view-style") !== "grid") {
                            setCookie('view-style', 'grid', 365);

                            recentPosting.innerHTML = "";

                            for (let article of articles) {
                                let articleDiv = getPostsByStyleForBlog(article);
                                recentPosting.appendChild(articleDiv);
                            }
                        }

                        viewListBtn.classList.remove("text-primary");
                        viewAlbumBtn.classList.remove("text-primary");
                    });
                });
        });
    </script>
</th:block>
</body>
</html>