<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{blog/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Blogitory - ' + blog.name}"></title>
    <link rel="canonical" th:href="${'https://blogitory.com/' + blog.blogUrl}">
    <meta property="og:url" th:content="${'https://blogitory.com/' + blog.blogUrl}">
    <meta property="og:title" th:content="${'Blogitory - ' + blog.name}">
    <meta property="og:description" th:content="${blog.blogBio}">
    <meta property="og:image" th:content="${not #strings.isEmpty(blog.blogThumbUrl)} ? ${blog.blogThumbUrl} : '/static/logo/logo-375582.png'">
    <meta name="description" th:content="${blog.blogBio}">
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div class="row">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title mb-0">인기 글</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div id="carousel-captions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active ratio ratio-16x9">
                                    <img class="d-block w-100" alt="" src="/static/images/example/coffee-on-a-table-with-other-items.jpg" style="object-fit: cover">
                                </div>
                                <div class="carousel-item ratio ratio-16x9 ">
                                    <img class="d-block w-100" alt="" src="/static/images/example/young-entrepreneur-working-from-a-modern-cafe-2.jpg" style="object-fit: cover">
                                </div>
                                <div class="carousel-item ratio ratio-16x9 ">
                                    <img class="d-block w-100" alt="" src="/static/images/example/soft-photo-of-woman-on-the-bed-with-the-book-and-cup-of-coffee-in-hands.jpg" style="object-fit: cover">
                                </div>
                                <div class="carousel-item ratio ratio-16x9 ">
                                    <img class="d-block w-100" alt="" src="/static/images/example/fairy-lights-at-the-beach-in-bulgaria.jpg" style="object-fit: cover">
                                </div>
                                <div class="carousel-item ratio ratio-16x9 ">
                                    <img class="d-block w-100" alt="" src="/static/images/example/woman-working-on-laptop-at-home-office.jpg" style="object-fit: cover">
<!--                                    <div class="carousel-caption-background"></div>-->
<!--                                    <div class="carousel-caption">-->
<!--                                        <h3>Slide label</h3>-->
<!--                                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
<!--                                    </div>-->
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel-captions" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-captions" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4">
                <div class="card-header">
                    <h3 class="card-title mb-2">최근 댓글</h3>
                </div>
                <div class="card">
                    <ul th:each="num : ${#numbers.sequence(0, 2)}" class="list-group list-group-flush placeholder-glow">
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-rounded placeholder"></div>
                                </div>
                                <div class="col-7">
                                    <div class="placeholder placeholder-xs col-9"></div>
                                    <div class="placeholder placeholder-xs col-7"></div>
                                </div>
                                <div class="col-2 ms-auto text-end">
                                    <div class="placeholder placeholder-xs col-8"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="recent-posting" class="row row-cards row-deck mt-2">
            <div class="col-12">
                <div class="card-header">
                    <h3 class="card-title mb-0">최근 작성 글</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script src="/static/js/my/article-minimal.js"></script>
    <script>
        let path = location.pathname;

        document.addEventListener('DOMContentLoaded', function () {
            axios.get("/api" + path + "/posts/recent")
                .then(response => {
                    let recentPosting = document.getElementById("recent-posting");

                    let articles = response.data;

                    for (let article of articles) {
                        let articleDiv = getPostsComponentForBlog(article);
                        recentPosting.appendChild(articleDiv);
                    }
                })
        })
    </script>
</th:block>
</body>
</html>