<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{blog/layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="${posts.blogName} + ' - ' + ${posts.subject}"></title>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/static/css/lib/toastui-editor.css"/>
        <link rel="stylesheet" href="/static/css/lib/toastui-editor-dark.css">
        <link rel="stylesheet"
              href="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css"/>
        <link rel="stylesheet"
              href="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight.min.css"/>
        <link rel="stylesheet" href="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.css"/>
    </th:block>
</head>
<body>
<div class="container-xl" layout:fragment="main-content">
    <div class="page-body">
        <div class="row">
            <div class="card">
                <div class="row d-lg-none">
                    <div class="col-12">
                        <a class="text-secondary" th:href="'/'+${blog.blogUrl}" th:text="${posts.blogName}"></a>
                        <span th:text="'>'"></span>
                        <a class="text-secondary" th:href="'/'+${blog.blogUrl} + '/categories/' + ${posts.categoryName}"
                           th:text="${posts.categoryName}"></a>
                    </div>
                </div>
                <div class="card-header justify-content-center">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="card-title ms-md-auto" style="font-size: 25px;" th:text="${posts.subject}"></h1>
                        </div>
                        <div class="col-12 text-center">
                            <span class="ms-md-auto" style="font-size: 10px"
                                  th:text="${#temporals.format(posts.createdAt, 'yyyy. MM. dd HH:mm')}"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="padding: 2em !important;">
                    <div class="row">
                        <div id="viewer"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span th:each="tag : ${posts.tags}" class="badge ms-auto m-1" th:text="${tag.tagName}"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div sec:authorize="isAuthenticated()" class="col-1 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/>
                            </svg>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="col-1 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 onclick="openWriteForm()"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1"/>
                            </svg>
                        </div>
                        <div class="col-1 d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24"
                                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 onclick="clip()"
                            >
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"/>
                                <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"/>
                            </svg>
                        </div>
                        <div sec:authorize="isAuthenticated()" th:if="${posts.username} != ${members.username}" class="col-2 ms-auto d-flex align-items-center justify-content-end">
                            <button class="btn" style="font-size: 10px; width: 50px; height: 30px">팔로우</button>
                        </div>
                        <div sec:authorize="isAuthenticated()" th:if="${posts.username} == ${members.username}" class="col-2 ms-auto d-flex align-items-center justify-content-end">
                            <button class="btn me-2" style="font-size: 10px; width: 50px; height: 30px" onclick="hrefModifyPage()">수정</button>
                            <button class="btn btn-outline-danger" style="font-size: 10px; width: 50px; height: 30px">삭제</button>
                        </div>
                    </div>
                </div>
<!--            댓글 작성    -->
                <div sec:authorize="isAuthenticated()" id="comment-write-form" class="card-footer d-none">
                    <div class="row">
                        <div class="row">
                            <a href="/@mate" class="d-flex lh-1 text-body p-0">
                                <img class="avatar avatar-sm rounded-circle"
                                     th:if="!${thumbIsNUll}"
                                     th:src="${members.thumb}"
                                     alt="pjp">
                                <div class="ps-2 overflow-hidden">
                                    <div th:text="${members.name}"></div>
                                    <div class="mt-1 small text-secondary" th:text="'@' + ${members.username}"></div>
                                </div>
                            </a>
                        </div>
                        <div class="row mt-2">
                            <textarea id="comment-write-area" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="row d-flex justify-content-end">
                            <button class="btn mt-2" style="font-size: 10px; height: 30px; width: 50px" onclick="registerComment()">
                                    등록
                            </button>
                        </div>
                    </div>
                </div>
                <div id="comment-div"></div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://uicdn.toast.com/tui-color-picker/latest/tui-color-picker.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-code-syntax-highlight/latest/toastui-editor-plugin-code-syntax-highlight-all.min.js"></script>
    <script src="https://uicdn.toast.com/editor-plugin-color-syntax/latest/toastui-editor-plugin-color-syntax.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
    <script src="/static/js/my/posts.js" defer></script>
    <script th:inline="javascript" defer>
        const {Editor} = toastui;
        const {codeSyntaxHighlight} = Editor.plugin;
        const {colorSyntax} = Editor.plugin;
        const viewers = document.querySelectorAll('#viewer');

        const viewer = Editor.factory({
            el: viewers[0],
            viewer: true,
            plugins: [codeSyntaxHighlight, colorSyntax]
        });

        const elem = [[${posts.detail}]];
        viewer.setMarkdown(elem);

        let posts = [[${posts}]];
        let loginMember = [[ ${members} ]];
    </script>
    <script src="/static/js/my/read.js"></script>
</th:block>
</body>
</html>